
table {
    border-collapse: collapse;
}

td,tr{
	padding: 10px;
}


pre span {
     text-align: left;
    color: #65b042;
    display: block;
    line-height: 0;
}

.code-color {
	background-color: #000;
	/*color:#f8f8f8;*/
}
.glyphicon {
    display: block;
}