

body {
  min-width: 1190px;
  font-family: arial;
  margin: 0px;
  background-color: white;
  );
}

.main1 {
  height: 231px;
  text-align: left;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 1px #000;
  margin-right: 5px;
}

.mainheader {
	  
  width: 100%;
  font-family: arial;
 min-width: 1190px;
  background-color: #25a2dc;
  float: left;
  height: 5%;
}

img {
  margin-left: 4px;
  height: 24px;
  margin-top: 9px;
}





.mainfield {
  min-width: 200px;
  width: 220px;
  color: white;
  font-size: 35px;
  float: left;
}




.fa-fw {
  padding-bottom: 9px;
}


a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.field1{
    margin-top: 10px;
    margin-right: 33px;
    display: inline-block;
    float: left;
  color: black;
 
} 
.field1>a{color:black;}

.fields{
	    margin-top: 10px;
    margin-right: 33px;
    display: inline-block;
    float: left;

}

.fields a:hover {
 
  color: black;
}



.stwallet a {
  color: white;
}

.stwallet {
  margin-bottom: 41px;
  font-size: 21px;
  text-align: right;
}


/*-------------------------------------------------profile info --------------------------------------------------------------------------------------*/
