/* apply these base styles to every element */
* {margin: 0; padding: 0; box-sizing:border-box; }

html, body {
    font: 12px Ubuntu, Consolas, Arial;
    height: 100%;
}

.base {
    overflow: hidden;
}

.left-msgbox {
    width: 50%;
    float: left; 
}

#messages {
    position: absolute;
    width: 50%;
    height: 94%;
    overflow-y: auto;
}

.msg-control-panel {
    position: absolute;
    width: 50%;
    bottom:0;
    background: #000;
    padding: 3px;
}

.msg-control-panel input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
.msg-control-panel button {
    width: 9%;
    background: rgb(212, 131, 11);
    border: none;
    padding: 10px;
}

#msg-flow {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#msg-flow li {
    padding: 5px 10px;
}

#msg-flow li:nth-child(odd) {
    background: #eee;
}

#partition {
    position: absolute;
    background: #bcbcbc;
    width: 2px;
    height: 100%;
    left: 50%;
    z-index: 1;
}

.right-syslog {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
}

#syslog {
    background-color: black;
    color: #47C13E;
    overflow-y: auto;
    height: 100%;
}

#syslog p {
    padding: 5px;
}



